In [ ]:
# Main purpose of this notebook is to compare different Translations of the Bible
#I will be comparing the different translation to see if the overall structure of the translations stays the same, despite the differences in grammer
#I would like to see if different translations tell slighlty different stories, or if the overall message is the same

In [1]:
#Import all necessary tools and tools that may be used in the future



import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
import pandas as pd
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer

from nltk.corpus import stopwords
nltk.download('stopwords')
stoplist = stopwords.words('english')



%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['figure.dpi'] = 300

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hudso\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#To do List

#Break Bibles into Books

#Get rid of names in data
#Potentially use stopwords list

In [3]:
# First we open the file:
# TYN is commented out because of errors in the text file, keeping it commented in the case that a use?fix is found for it it the future
KJV_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/kjv.txt', 'r',encoding='utf-8')
ASV_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/asv.txt', 'r',encoding='utf-8')
#TYN_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/tyndale.txt', 'r',encoding='utf-8')
WEB_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/web.txt', 'r',encoding='utf-8')
NET_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/net.txt', 'r',encoding='utf-8')

# Then we read the file:
KJV = KJV_file.read()
ASV = ASV_file.read()
#TYN = TYN_file.read()
WEB = WEB_file.read()
NET = NET_file.read()

In [4]:
#Tokenize
#Tokenizes all of the data into tokens
#Ended up not using the regex tokens, kept in the case that they are used later
KJV_words = re.sub("[^a-zA-Z']"," ", KJV).lower().split()
ASV_words = re.sub("[^a-zA-Z']"," ", KJV).lower().split()
#TYN_words = re.sub("[^a-zA-Z']"," ", KJV).lower().split()
WEB_words = re.sub("[^a-zA-Z']"," ", KJV).lower().split()
NET_words = re.sub("[^a-zA-Z']"," ", KJV).lower().split()

In [11]:
#Create List
#List that contains all of the current data to be used in a vectorizer
BibleList = [KJV,ASV,WEB,NET]

In [12]:
#Tokenize list
RegexList = [word for word in re.sub("[^a-zA-Z']"," ", BibleList[3]).lower().split()]

In [13]:
#Vectorize
#Vectorizes list of data and shows the shape(colums and rows)

vectorizer = CountVectorizer()

Translations = vectorizer.fit_transform(BibleList)

Translations.shape

(4, 21015)

In [14]:
#Create a DTM of data
TranDF = pd.DataFrame(Translations.toarray(), columns = vectorizer.get_feature_names_out())

TranDF.head(4)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,1,3,5,3,5,1,5,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0
3,180,1,1,2,1,1,2,1,1,1,...,1,0,5,3,9,1,5,0,0,1

#Outsdie cell hit "m" to turn into markdown cell

0 = KJV,
1 = ASV,
2 = WEB,
3 = NET,

Tyndale txt file replaces all J's with I's for some reason, may not be able to use this file

Found a weird problem with the translations later in the list(TYN,WEB,NET), where Jesus is spelt Iesus, even though only the tyndale text file replaces J's with I's

Discovered my reason for the error with rpetitive data issues

In [19]:
#Sort by the top 30 most used words in each text
#I played aroubd with this a lot because I wanted to see if the most used words woulds stay the same

TranDF.T.sort_values(by=0, ascending=False).head(30)

           0      1      2      3
the    64019  59125  57669  58296
and    51708  52077  34695  27575
of     34749  34512  33641  25216
to     13630  13889  21360  22483
that   12916  13576   8644   6360
in     12677  12851  13031  11714
he     10431  10735  10464   9707
shall   9837   9102   7164     60
unto    9002   9253      2      0
for     8985   9176   9120   8560
his     8478   8151   8064   7019
lord    7970   1376   1394   7952
they    7377   7586   7116   7447
be      7012   6467   5986   5256
is      6993   7172   7159   7276
him     6667   6606   6482   5188
not     6597   6568   3433   6097
them    6429   6407   5698   5391
it      6130   6168   6347   5468
with    6015   5987   6208   5630
all     5621   5593   5622   4875
thou    5474   5511      0      0
thy     4603   4960      0      0
was     4523   4462   4340   4365
god     4473   4110   4117   4214
which   4414   2960   3243    835
my      4367   4497   4902   4293
me      4096   4089   4080   4190
said    4002   3907   3928   3271
but     3994   3990   3960   4152

In [20]:
#Used to see how many times a certain word appears in each translation. Used mostly for my own curiosity
TranDF['spirit']

0    505
1    582
2    596
3    503
Name: spirit, dtype: int64

In [22]:
#Create new string of all data

BibleString = " ".join(BibleList)

In [23]:
#Tokenize string of just the KJV translation
BStokens = nltk.tokenize.word_tokenize(BibleString)
KJV_Tokens = nltk.tokenize.word_tokenize(KJV)

#Tokeize string of all translations
BSN = nltk.Text(BStokens)
KJV_N = nltk.Text(KJV_Tokens)

In [24]:
#Run a concordance on different words to see how they are used in context
BSN.concordance('spirit')

Displaying 25 of 2173 matches:
upon the face of the deep . And the Spirit of God moved upon the face of the w
 chose . 3 Â¶ And the LORD said , My spirit shall not always strive with man ,
ame to pass in the morning that his spirit was troubled ; and he sent and call
 as this [ is ] , a man in whom the Spirit of God [ is ] ? 39 And Pharaoh said
 Joseph had sent to carry him , the spirit of Jacob their father revived : 28
kened not unto Moses for anguish of spirit , and for cruel bondage . 10 Â¶ And
arted , whom I have filled with the spirit of wisdom , that they may make Aaro
 : 3 And I have filled him with the spirit of God , in wisdom , and in underst
red him up , and every one whom his spirit made willing , [ and ] they brought
 31 And he hath filled him with the spirit of God , in wisdom , in understandi
 also or woman that hath a familiar spirit , or that is a wizard , shall surel
en [ with the manner ] ; 14 And the spirit of jealousy come upon him , and he
fe , and she be defiled : or if the spirit of jealousy come upon him , and he
d , and is defiled ; 30 Or when the spirit of jealousy cometh upon him , and h
thee there : and I will take of the spirit which [ is ] upon thee , and will p
nd spake unto him , and took of the spirit that [ was ] upon him , and gave [
 came to pass , [ that ] , when the spirit rested upon them , they prophesied
e name of the other Medad : and the spirit rested upon them ; and they [ were
[ and ] that the LORD would put his spirit upon them ! 30 And Moses gat him in
vant Caleb , because he had another spirit with him , and hath followed me ful
according to their tribes ; and the spirit of God came upon him . 3 And he too
n of Nun , a man in whom [ is ] the spirit , and lay thine hand upon him ; 19
: for the LORD thy God hardened his spirit , and made his heart obstinate , th
shua the son of Nun was full of the spirit of wisdom ; for Moses had laid his
ir heart melted , neither was there spirit in them any more , because of the c

In [38]:
#Use the .similar function to see the various similarities that each word has in the text
BSN.similar("king")'

lord people man land and god earth son city house father law prophet
priest sword one day israelites woman spirit

In [39]:
# Generate text based on collocations from all translations
BSN.generate()

Building ngram index...

lightly , she committeth adultery.â€º 33 Â¶ And it came to pass , as the
high places in the Hebrew women are like a wilderness , Make brick :
and they shall judge you according to their land shall bury them , ``
He did evil again before thee . , of a large pit in time past , and he
was made the heavens , that touch the border of Moab cry aloud ; for
his bolster , and they had sung a hymn , they will not be meat in the
foundation of the Philistines shall perish ,

'lightly , she committeth adultery.â€º 33 Â¶ And it came to pass , as the\nhigh places in the Hebrew women are like a wilderness , Make brick :\nand they shall judge you according to their land shall bury them , ``\nHe did evil again before thee . , of a large pit in time past , and he\nwas made the heavens , that touch the border of Moab cry aloud ; for\nhis bolster , and they had sung a hymn , they will not be meat in the\nfoundation of the Philistines shall perish ,'

In [45]:
#Show collocations for all translations
BSN.collocations()

thou shalt; said unto; thou hast; Thus saith; burnt offering; years
old; Jesus Christ; right hand; says Yahweh; saith Jehovah; every man;
unto thee; Thou shalt; say unto; spake unto; shall come; every one;
high places; Lord GOD; Holy Spirit

In [53]:
#Generate text bast on collocations from KJV translation
KJV_N.generate()

Building ngram index...

madest a covenant at Beersheba . , lo , he shall save me : 14 But
every woman that stood by . and of the LORD . Gedor , 59 And Ashan
with her . they hear.â€º 17 â€¹For God sent his word , I have set up ;
thou satest in the camp to Joshua , and Moses talked with him , and
the continual burnt offering , and thy daughters ; the days in a night
to kill , and a new garment upon an heap . ] in the gate of his anger
? hand , but

'madest a covenant at Beersheba . , lo , he shall save me : 14 But\nevery woman that stood by . and of the LORD . Gedor , 59 And Ashan\nwith her . they hear.â€º 17 â€¹For God sent his word , I have set up ;\nthou satest in the camp to Joshua , and Moses talked with him , and\nthe continual burnt offering , and thy daughters ; the days in a night\nto kill , and a new garment upon an heap . ] in the gate of his anger\n? hand , but'