The main purpose of this notebook is to compare different Translations of the Bible.
I will be comparing the different translation to see if the overall structure of the translations stays the same, despite the differences in grammer.
I would like to see if different translations tell slighlty different stories, or if the overall message is the same.

The main reason that I am using these verison of the bible is because they were easily available. These translations were easy to get off of the web and were very user friendly.

My personal main interest is the KJV version. KJV is a very popular version in my church and in christianity in general.

I am intending to use this project to help me learn more about the Bible. I think it is really interesting using code to pick apart the Bible like I never have before.

In [2]:
#Import all necessary tools and tools that may be used in the future



import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
import pandas as pd
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer





nltk.download('punkt')
from nltk.stem import PorterStemmer
import string

from nltk.corpus import stopwords
nltk.download('stopwords')
stoplist = stopwords.words('english')
nltk.download("tagsets")
nltk.download('averaged_perceptron_tagger')



%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['figure.dpi'] = 300

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hudso\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\Hudso\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Hudso\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [3]:
#To do List

#Break Bibles into Books

#Get rid of names in data
#Potentially use stopwords list

In [4]:
# First we open the file:
# TYN is commented out because of errors in the text file, keeping it commented in the case that a use?fix is found for it it the future
KJV_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/kjv.txt', 'r',encoding='utf-8')
ASV_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/asv.txt', 'r',encoding='utf-8')
#TYN_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/tyndale.txt', 'r',encoding='utf-8')
WEB_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/web.txt', 'r',encoding='utf-8')
NET_file = open('/Users/Hudso/OneDrive/Documents/GitHub/text-as-data/people/Bibledata/net.txt', 'r',encoding='utf-8')

# Then we read the file:
KJV = KJV_file.read()
ASV = ASV_file.read()
#TYN = TYN_file.read()
WEB = WEB_file.read()
NET = NET_file.read()

In [7]:
#Create List
#List that contains all of the current data to be used in a vectorizer
Bible_List = [KJV,ASV,WEB,NET]

KJV_List = [KJV]
ASV_List = [ASV]
WEB_List = [WEB]
NET_List = [NET]

In [9]:
#Tokenize
#Tokenize list
KJV_Token = [word for word in re.sub("[^a-zA-Z']"," ", KJV_List[0]).lower().split()]

ASV_Token = [word for word in re.sub("[^a-zA-Z']"," ", ASV_List[0]).lower().split()]

WEB_Token = [word for word in re.sub("[^a-zA-Z']"," ", WEB_List[0]).lower().split()]

NET_Token = [word for word in re.sub("[^a-zA-Z']"," ", NET_List[0]).lower().split()]

Corpus_Token = [word for word in re.sub("[^a-zA-Z']"," ", Bible_List[3]).lower().split()]

In [12]:
#Split the versions into old and new Testament

def split(text):
    # Find the index of the known point where the Old Testament ends and the New Testament begins
    split_index = text.find("Matthew") + len("Malachi")  # Adjust if necessary
    
    # Split the text into Old Testament and New Testament
    old_testament_text = text[:split_index]
    new_testament_text = text[split_index:]
    
    return old_testament_text, new_testament_text

In [16]:
# Use function to split all translations into old and new

Old_Test_KJV, New_Test_KJV = split(KJV)

Old_Test_ASV, New_Test_ASV = split(ASV)

Old_Test_WEB, New_Test_WEB = split(WEB)

Old_Test_NET, New_Test_NET = split(NET)

In [17]:
# Turn old and new testament variables to List

KJV_New = [New_Test_KJV]
KJV_Old = [Old_Test_KJV]

ASV_New = [New_Test_ASV]
ASV_Old = [Old_Test_ASV]

WEB_New = [New_Test_WEB]
WEB_Old = [Old_Test_WEB]

NET_New = [New_Test_NET]
NET_Old = [Old_Test_NET]

In [18]:
#Tokenize Old and New testament versions

KJV_Old_Token = [word for word in re.sub("[^a-zA-Z']"," ", KJV_Old[0]).lower().split()]
KJV_New_Token = [word for word in re.sub("[^a-zA-Z']"," ", KJV_New[0]).lower().split()]

ASV_Old_Token = [word for word in re.sub("[^a-zA-Z']"," ", ASV_Old[0]).lower().split()]
ASV_New_Token = [word for word in re.sub("[^a-zA-Z']"," ", ASV_New[0]).lower().split()]

WEB_Old_Token = [word for word in re.sub("[^a-zA-Z']"," ", WEB_Old[0]).lower().split()]
WEB_New_Token = [word for word in re.sub("[^a-zA-Z']"," ", WEB_New[0]).lower().split()]

NET_Old_Token = [word for word in re.sub("[^a-zA-Z']"," ", NET_Old[0]).lower().split()]
NET_New_Token = [word for word in re.sub("[^a-zA-Z']"," ", NET_New[0]).lower().split()]

In [35]:
#Vectorize
#Vectorizes list of data and shows the shape(colums and rows)

vectorizer = CountVectorizer()

Corpus_Vector = vectorizer.fit_transform(Bible_List)

KJV_Vector = vectorizer.transform(KJV_List)

ASV_Vector = vectorizer.transform(ASV_List)

WEB_Vector = vectorizer.transform(WEB_List)

NET_Vector = vectorizer.transform(NET_List)

In [50]:
# Now vecotrize old and new testament versions

KJV_New_Vector = vectorizer.transform(KJV_New)
KJV_Old_Vector = vectorizer.transform(KJV_Old)

ASV_New_Vector = vectorizer.transform(ASV_New)
ASV_Old_Vector = vectorizer.transform(ASV_Old)

WEB_New_Vector = vectorizer.transform(WEB_New)
WEB_Old_Vector = vectorizer.transform(WEB_Old)

NET_New_Vector = vectorizer.transform(NET_New)
NET_Old_Vector = vectorizer.transform(NET_Old)

I will now make dtms of my 8 different versions

In [38]:
#Create a DTM of data
TranDF = pd.DataFrame(Corpus_Vector.toarray(), columns = vectorizer.get_feature_names_out())

TranDF.head(4)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,1,3,5,3,5,1,5,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0
3,180,1,1,2,1,1,2,1,1,1,...,1,0,5,3,9,1,5,0,0,1

In [61]:
KJV_Old_DF = pd.DataFrame(KJV_Old_Vector.toarray(), columns = vectorizer.get_feature_names_out())

KJV_Old_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,5,1,5,0,1,0

In [62]:
KJV_New_DF = pd.DataFrame(KJV_New_Vector.toarray(), columns = vectorizer.get_feature_names_out())

KJV_New_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0

In [63]:
ASV_Old_DF = pd.DataFrame(ASV_Old_Vector.toarray(), columns = vectorizer.get_feature_names_out())

ASV_Old_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0

In [64]:
ASV_New_DF = pd.DataFrame(ASV_New_Vector.toarray(), columns = vectorizer.get_feature_names_out())

ASV_New_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
WEB_Old_DF = pd.DataFrame(WEB_Old_Vector.toarray(), columns = vectorizer.get_feature_names_out())

WEB_Old_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,1,0,5,3,9,1,5,1,0,0

In [66]:
WEB_New_DF = pd.DataFrame(WEB_New_Vector.toarray(), columns = vectorizer.get_feature_names_out())

WEB_New_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
NET_Old_DF = pd.DataFrame(NET_Old_Vector.toarray(), columns = vectorizer.get_feature_names_out())

NET_Old_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,178,1,1,2,1,1,2,1,1,1,...,1,0,5,3,9,1,5,0,0,1

In [68]:
WEB_New_DF = pd.DataFrame(WEB_New_Vector.toarray(), columns = vectorizer.get_feature_names_out())

WEB_New_DF.head(1)

,000,000edomites,005,017,023,034,052,056,067,070,...,zorites,zorobabel,zuar,zuph,zur,zuriel,zurishaddai,zuzim,zuzims,zuzites
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

I could not figure out how to get the DTM's to show different results, the results that show in all of them are numbers and names, so they are going to show up the same amount of times in every translation. So I feel I did not get a very accurate view of how different my corpus is through these DTM's

# Outsdie cell hit "m" to turn into markdown cell

0 = KJV,
1 = ASV,
2 = WEB,
3 = NET,

Tyndale txt file replaces all J's with I's for some reason, may not be able to use this file

Found a weird problem with the translations later in the list(TYN,WEB,NET), where Jesus is spelt Iesus, even though only the tyndale text file replaces J's with I's

Discovered my reason for the error with repetitive data issues

In [60]:
#Sort by the top 30 most used words in each text
#I played around with this a lot because I wanted to see if the most used words woulds stay the same

TranDF.T.sort_values(by=0, ascending=False).head(30)

           0      1      2      3
the    64019  59125  57669  58296
and    51708  52077  34695  27575
of     34749  34512  33641  25216
to     13630  13889  21360  22483
that   12916  13576   8644   6360
in     12677  12851  13031  11714
he     10431  10735  10464   9707
shall   9837   9102   7164     60
unto    9002   9253      2      0
for     8985   9176   9120   8560
his     8478   8151   8064   7019
lord    7970   1376   1394   7952
they    7377   7586   7116   7447
be      7012   6467   5986   5256
is      6993   7172   7159   7276
him     6667   6606   6482   5188
not     6597   6568   3433   6097
them    6429   6407   5698   5391
it      6130   6168   6347   5468
with    6015   5987   6208   5630
all     5621   5593   5622   4875
thou    5474   5511      0      0
thy     4603   4960      0      0
was     4523   4462   4340   4365
god     4473   4110   4117   4214
which   4414   2960   3243    835
my      4367   4497   4902   4293
me      4096   4089   4080   4190
said    4002   3907   3928   3271
but     3994   3990   3960   4152

I will create string variables to hold all of my different version. Then I will run a generate on all 8 versions that I have

In [73]:
#Create new string of all data

Bible_String = " ".join(Bible_List)

In [74]:
#Prepare strings of all versions
BStokens = nltk.tokenize.word_tokenize(Bible_String)

KJVN_Tokens = nltk.tokenize.word_tokenize(New_Test_KJV)
KJVO_Tokens = nltk.tokenize.word_tokenize(Old_Test_KJV)

ASVN_Tokens = nltk.tokenize.word_tokenize(New_Test_ASV)
ASVO_Tokens = nltk.tokenize.word_tokenize(Old_Test_ASV)

WEBN_Tokens = nltk.tokenize.word_tokenize(New_Test_WEB)
WEBO_Tokens = nltk.tokenize.word_tokenize(Old_Test_WEB)

NETN_Tokens = nltk.tokenize.word_tokenize(New_Test_NET)
NETO_Tokens = nltk.tokenize.word_tokenize(Old_Test_NET)

#Tokeize string of all Versions
BSN = nltk.Text(BStokens)

# KJV pair
KJV_N = nltk.Text(KJVN_Tokens)
KJV_O = nltk.Text(KJVO_Tokens)

# ASV pair
ASV_N = nltk.Text(ASVN_Tokens)
ASV_O = nltk.Text(ASVO_Tokens)

# NET pair
NET_N = nltk.Text(NETN_Tokens)
NET_O = nltk.Text(NETO_Tokens)

# WEB pair
WEB_N = nltk.Text(WEBN_Tokens)
WEB_O = nltk.Text(WEBO_Tokens)

In [39]:
# Generate text based on collocations from all translations
BSN.generate()

Building ngram index...

lightly , she committeth adultery.› 33 ¶ And it came to pass , as the
high places in the Hebrew women are like a wilderness , Make brick :
and they shall judge you according to their land shall bury them , ``
He did evil again before thee . , of a large pit in time past , and he
was made the heavens , that touch the border of Moab cry aloud ; for
his bolster , and they had sung a hymn , they will not be meat in the
foundation of the Philistines shall perish ,

'lightly , she committeth adultery.› 33 ¶ And it came to pass , as the\nhigh places in the Hebrew women are like a wilderness , Make brick :\nand they shall judge you according to their land shall bury them , ``\nHe did evil again before thee . , of a large pit in time past , and he\nwas made the heavens , that touch the border of Moab cry aloud ; for\nhis bolster , and they had sung a hymn , they will not be meat in the\nfoundation of the Philistines shall perish ,'

In [76]:
# Generate text using ASV New Testament
ASV_N.generate()

lived , and departed thence . , not believing that he was gone out ,
and healed them . and pineth away : [ 11 according to his own will ,
and in the field , which of the Jews , who are now returned unto her ,
that as he is . And it came to Jerusalem , and be found of them that
are therein , and thou shalt be called the twelve , and the whole body
, they fled , and the prophets shall be signs in his blood ; 9 and
that Jesus is the

'lived , and departed thence . , not believing that he was gone out ,\nand healed them . and pineth away : [ 11 according to his own will ,\nand in the field , which of the Jews , who are now returned unto her ,\nthat as he is . And it came to Jerusalem , and be found of them that\nare therein , and thou shalt be called the twelve , and the whole body\n, they fled , and the prophets shall be signs in his blood ; 9 and\nthat Jesus is the'

In [77]:
# Generate text using ASV Old Testament
ASV_O.generate()

Building ngram index...

man 's hair be grown up with a light by day , I do this thing . , it
hath gathered them together : and , behold , they may possess the gate
of the fire , and melt you . and over the Philistine , Abner , Art
thou he that owneth the house of Israel , to observe and do according
unto all the words in the land which I gave my back to the inhabitants
of the poor is hotly pursued after the measure of my salvation ; And
they that are come from Babylon ; and

"man 's hair be grown up with a light by day , I do this thing . , it\nhath gathered them together : and , behold , they may possess the gate\nof the fire , and melt you . and over the Philistine , Abner , Art\nthou he that owneth the house of Israel , to observe and do according\nunto all the words in the land which I gave my back to the inhabitants\nof the poor is hotly pursued after the measure of my salvation ; And\nthey that are come from Babylon ; and"

In [78]:
# Generate text using NET New Testament
NET_N.generate()

Building ngram index...

love , and every perfect gift is from Mount Sinai , in Iconium , and
set off for home . , the True One , who is in Christ Jesus . and
prepare the Passover . Barnabas and Paul Hermes , Patrobas , Hermas ,
and I will bless you greatly and multiply your descendants all the
treasures of Egypt , who betrayed him . to him , “ He is not worthy ,
let me see again. They know , because the fast was already dead , and
you in my sufferings for you , for it with God

'love , and every perfect gift is from Mount Sinai , in Iconium , and\nset off for home . , the True One , who is in Christ Jesus . and\nprepare the Passover . Barnabas and Paul Hermes , Patrobas , Hermas ,\nand I will bless you greatly and multiply your descendants all the\ntreasures of Egypt , who betrayed him . to him , “ He is not worthy ,\nlet me see again. They know , because the fast was already dead , and\nyou in my sufferings for you , for it with God'

In [79]:
# Generate text using NET Old Testament
NET_O.generate()

Building ngram index...

linen , goat ’ s priests nor anyone else ! , the LORD has said : ‘ Say
this to say to the place the LORD your God always . also known as Edom
) , 19 Hapharaim , Shion , Anaharath , 20 that you are to make a clean
thing come from his wicked behavior deserves . 14 I am ! to hire some
lawless , dangerous men as his ancestors . Nebat and Baasha son of
Jakeh ; an image in the wilderness and its villages and dispossessed
the Amorites . from Moseroth and camped in Gilead

'linen , goat ’ s priests nor anyone else ! , the LORD has said : ‘ Say\nthis to say to the place the LORD your God always . also known as Edom\n) , 19 Hapharaim , Shion , Anaharath , 20 that you are to make a clean\nthing come from his wicked behavior deserves . 14 I am ! to hire some\nlawless , dangerous men as his ancestors . Nebat and Baasha son of\nJakeh ; an image in the wilderness and its villages and dispossessed\nthe Amorites . from Moseroth and camped in Gilead'

In [80]:
# Generate text using WEB New Testament
WEB_N.generate()

Building ngram index...

is . , nor bread , that when he has , to lay it down . '' against
nature . 13 From there , and believe him ? ' throne , as to babies in
those who are asleep . Jesus and led him away . '' for a sign , that
everyone who believes that what he sees himself , she calls together
her friends and his brothers came , and he who eats my flesh and blood
, nor can see clearly to remove the beam is in Egypt , 40 `` The Son
of Man sitting at

"is . , nor bread , that when he has , to lay it down . '' against\nnature . 13 From there , and believe him ? ' throne , as to babies in\nthose who are asleep . Jesus and led him away . '' for a sign , that\neveryone who believes that what he sees himself , she calls together\nher friends and his brothers came , and he who eats my flesh and blood\n, nor can see clearly to remove the beam is in Egypt , 40 `` The Son\nof Man sitting at"

In [81]:
# Generate text using WEB Old Testament
WEB_O.generate()

Building ngram index...

king 's gate , four hundred thousand . , neither did my shepherds
search for me , and he went into the hand of the ship , and my lord
the king died , and I ate them with folly . am casting out before the
King , '' Give to us a law , that he could not live . ' 12 I arose ,
and afterward he shall be no more pass through [ the oracle , even the
whole congregation of the wicked , `` Thus says Yahweh of Armies : ``
Open to me . ''

"king 's gate , four hundred thousand . , neither did my shepherds\nsearch for me , and he went into the hand of the ship , and my lord\nthe king died , and I ate them with folly . am casting out before the\nKing , '' Give to us a law , that he could not live . ' 12 I arose ,\nand afterward he shall be no more pass through [ the oracle , even the\nwhole congregation of the wicked , `` Thus says Yahweh of Armies : ``\nOpen to me . ''"

In [82]:
# Generate text using KJV New Testament
KJV_N.generate()

Building ngram index...

me , and departed into a ship , and Joses , and Joanna , which of them
that stood by the sacrifice of himself to be ] alway with grace in
your hearts unblameable in holiness before God in the same : 4 And I
fell at his feet , and consorted with Paul and Silas , chief men among
the people and the sun shall be ] heirs , faith is the first
commandment of us ; and gave thanks , but unto holiness , without
partiality , and asked him again ? , said , Silver and gold

'me , and departed into a ship , and Joses , and Joanna , which of them\nthat stood by the sacrifice of himself to be ] alway with grace in\nyour hearts unblameable in holiness before God in the same : 4 And I\nfell at his feet , and consorted with Paul and Silas , chief men among\nthe people and the sun shall be ] heirs , faith is the first\ncommandment of us ; and gave thanks , but unto holiness , without\npartiality , and asked him again ? , said , Silver and gold'

In [83]:
# Generate text using KJV Old Testament
KJV_O.generate()

Building ngram index...

long , and brought the men that [ is ] by the LORD , not of it ] to
Beer : that say , answer him , Go up and view the land which he
inheriteth . , in his kingdom for ever . and of the LORD . GOD ; At
the beginning , and [ it be [ married ] unto the LORD sware unto
Abraham , the time appointed . thereof . [ is ] his name Immanuel .
good . . deliver himself : according to thy daughters [ were ] beyond
the word of the

'long , and brought the men that [ is ] by the LORD , not of it ] to\nBeer : that say , answer him , Go up and view the land which he\ninheriteth . , in his kingdom for ever . and of the LORD . GOD ; At\nthe beginning , and [ it be [ married ] unto the LORD sware unto\nAbraham , the time appointed . thereof . [ is ] his name Immanuel .\ngood . . deliver himself : according to thy daughters [ were ] beyond\nthe word of the'




I found these texts formed by the generate function to be very interesting. I expected the the differnt translations to be very similiar, such as two different translations of the same testament for example. But none of the texts generated are too much alike, which was shocking to me. I am very interested to see what the transformers will show. I think the transformers will be able to show much more in depth the differences between 
translations.

Everythin after this point in my notebook is personal expirements that are not overall important, ust interesting to me to run.

In [24]:
#Run a concordance on different words to see how they are used in context
BSN.concordance('spirit')

Displaying 25 of 2173 matches:
upon the face of the deep . And the Spirit of God moved upon the face of the w
 chose . 3 ¶ And the LORD said , My spirit shall not always strive with man ,
ame to pass in the morning that his spirit was troubled ; and he sent and call
 as this [ is ] , a man in whom the Spirit of God [ is ] ? 39 And Pharaoh said
 Joseph had sent to carry him , the spirit of Jacob their father revived : 28
kened not unto Moses for anguish of spirit , and for cruel bondage . 10 ¶ And
arted , whom I have filled with the spirit of wisdom , that they may make Aaro
 : 3 And I have filled him with the spirit of God , in wisdom , and in underst
red him up , and every one whom his spirit made willing , [ and ] they brought
 31 And he hath filled him with the spirit of God , in wisdom , in understandi
 also or woman that hath a familiar spirit , or that is a wizard , shall surel
en [ with the manner ] ; 14 And the spirit of jealousy come upon him , and he
fe , and she be defiled : or if the spirit of jealousy come upon him , and he
d , and is defiled ; 30 Or when the spirit of jealousy cometh upon him , and h
thee there : and I will take of the spirit which [ is ] upon thee , and will p
nd spake unto him , and took of the spirit that [ was ] upon him , and gave [
 came to pass , [ that ] , when the spirit rested upon them , they prophesied
e name of the other Medad : and the spirit rested upon them ; and they [ were
[ and ] that the LORD would put his spirit upon them ! 30 And Moses gat him in
vant Caleb , because he had another spirit with him , and hath followed me ful
according to their tribes ; and the spirit of God came upon him . 3 And he too
n of Nun , a man in whom [ is ] the spirit , and lay thine hand upon him ; 19
: for the LORD thy God hardened his spirit , and made his heart obstinate , th
shua the son of Nun was full of the spirit of wisdom ; for Moses had laid his
ir heart melted , neither was there spirit in them any more , because of the c

In [20]:
#Used to see how many times a certain word appears in each translation. Used mostly for my own curiosity
TranDF['spirit']

0    505
1    582
2    596
3    503
Name: spirit, dtype: int64

In [38]:
#Use the .similar function to see the various similarities that each word has in the text
BSN.similar("king")'

lord people man land and god earth son city house father law prophet
priest sword one day israelites woman spirit

In [45]:
#Show collocations for all translations
BSN.collocations()

thou shalt; said unto; thou hast; Thus saith; burnt offering; years
old; Jesus Christ; right hand; says Yahweh; saith Jehovah; every man;
unto thee; Thou shalt; say unto; spake unto; shall come; every one;
high places; Lord GOD; Holy Spirit